In [92]:
print("Hello, we are 重磅赢家") # WE DID IT MAX!!! WE ARE IN KAGGLE!!!

Hello, we are 重磅赢家

In [1]:
# this is for https://www.kaggle.com/competitions/playground-series-s4e11/overview
import numpy as np
import pandas as pd # 貓熊
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
# load the data
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [147]:
stu_train_data = pd.DataFrame(train_data.loc[train_data["Working Professional or Student"] == "Student"])
stu_train_data.drop(columns=["id", "Name", "Working Professional or Student", "Profession", "Job Satisfaction", "Work Pressure", "Sleep Duration", "Degree", "Dietary Habits", "City"], inplace=True)

# fill the missing values with the mean value of the column
stu_fill_list = ['Academic Pressure', 'CGPA', 'Study Satisfaction']
for col in stu_fill_list:
    stu_train_data[col] = stu_train_data[col].fillna(stu_train_data[col].mean())
stu_train_data.dropna(axis=0, inplace=True)
stu_train_data.reset_index(drop=True, inplace=True)

In [96]:
pro_train_data = pd.DataFrame(train_data.loc[train_data["Working Professional or Student"] == "Working Professional"])
# pro_train_data.drop(columns=["id", "Name", "Working Professional or Student", "Academic Pressure", "CGPA", "Study Satisfaction"], inplace=True)

pro_train_data.drop(columns=["id", "Name", "Working Professional or Student", "Academic Pressure", "CGPA", "Study Satisfaction", "City", "Profession", "Sleep Duration", "Degree", "Dietary Habits"], inplace=True)


# fill the missing values with the mean value of the column
pro_fill_list = ['Work Pressure', 'Job Satisfaction']
for col in pro_fill_list:
    pro_train_data[col] = pro_train_data[col].fillna(pro_train_data[col].mean())
# pro_train_data['Profession'] = pro_train_data['Profession'].fillna('Unknown')
pro_train_data.dropna(axis=0, inplace=True)
pro_train_data.reset_index(drop=True, inplace=True)

In [4]:
train_data["Sleep Duration"].unique()

array(['More than 8 hours', 'Less than 5 hours', '5-6 hours', '7-8 hours',
       'Sleep_Duration', '1-2 hours', '6-8 hours', '4-6 hours',
       '6-7 hours', '10-11 hours', '8-9 hours', '40-45 hours',
       '9-11 hours', '2-3 hours', '3-4 hours', 'Moderate', '55-66 hours',
       '4-5 hours', '9-6 hours', '1-3 hours', 'Indore', '45', '1-6 hours',
       '35-36 hours', '8 hours', 'No', '10-6 hours', 'than 5 hours',
       '49 hours', 'Unhealthy', 'Work_Study_Hours', '3-6 hours',
       '45-48 hours', '9-5', 'Pune', '9-5 hours'], dtype=object)

In [5]:
# Define valid patterns for sleep duration
valid_durations = [
    "More than", "Less than", "hours", "-", "No", "Moderate"  # Add any acceptable keywords
]

# Filter out entries that do not match expected patterns
filtered_sleep_durations = [
    duration for duration in train_data["Sleep Duration"].unique() 
    if any(keyword in duration for keyword in valid_durations)
]

# Display filtered unique values
print(filtered_sleep_durations)

['More than 8 hours', 'Less than 5 hours', '5-6 hours', '7-8 hours', '1-2 hours', '6-8 hours', '4-6 hours', '6-7 hours', '10-11 hours', '8-9 hours', '40-45 hours', '9-11 hours', '2-3 hours', '3-4 hours', 'Moderate', '55-66 hours', '4-5 hours', '9-6 hours', '1-3 hours', '1-6 hours', '35-36 hours', '8 hours', 'No', '10-6 hours', 'than 5 hours', '49 hours', '3-6 hours', '45-48 hours', '9-5', '9-5 hours']

In [97]:
pro_train_data.describe(include='all')

,Gender,Age,Work Pressure,Job Satisfaction,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
count,112798,112798.000000,112798.000000,112798.000000,112798,112798.000000,112798.000000,112798,112798.000000
unique,2,NaN,NaN,NaN,2,NaN,NaN,2,NaN
top,Male,NaN,NaN,NaN,No,NaN,NaN,Yes,NaN
freq,61916,NaN,NaN,NaN,60893,NaN,NaN,56439,NaN
mean,NaN,43.991684,2.998963,2.974455,NaN,6.028972,2.951666,NaN,0.081837
std,NaN,10.949199,1.405640,1.415985,NaN,3.856322,1.405216,NaN,0.274117
min,NaN,18.000000,1.000000,1.000000,NaN,0.000000,1.000000,NaN,0.000000
25%,NaN,38.000000,2.000000,2.000000,NaN,3.000000,2.000000,NaN,0.000000
50%,NaN,46.000000,3.000000,3.000000,NaN,6.000000,3.000000,NaN,0.000000
75%,NaN,53.000000,4.000000,4.000000,NaN,9.000000,4.000000,NaN,0.000000
max,NaN,60.000000,5.000000,5.000000,NaN,12.000000,5.000000,NaN,1.000000

In [148]:
# separate labels with features
stu_train_data_label = stu_train_data['Depression']
stu_train_data_features = stu_train_data.drop(columns='Depression')
pro_train_data_label = pro_train_data['Depression']
pro_train_data_features = pro_train_data.drop(columns='Depression')


# 獨熱編碼
stu_train_data_features = pd.get_dummies(stu_train_data_features)
pro_train_data_features = pd.get_dummies(pro_train_data_features)

In [ ]:
# 機器學習 - student
X_train, X_test, y_train, y_test = train_test_split(stu_train_data_features, stu_train_data_label, test_size=0.2)
stu_model = RandomForestClassifier(n_estimators=1000) # 83%
stu_model.fit(X_train, y_train)
y_pred = stu_model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.79      0.80      2358
           1       0.85      0.87      0.86      3222

    accuracy                           0.83      5580
   macro avg       0.83      0.83      0.83      5580
weighted avg       0.83      0.83      0.83      5580

In [101]:
X_train, X_test, y_train, y_test = train_test_split(pro_train_data_features, pro_train_data_label, test_size=0.2)
pro_model = RandomForestClassifier(n_estimators=1000) # 95%
pro_model.fit(X_train, y_train)
y_pred = pro_model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98     20762
           1       0.75      0.65      0.69      1798

    accuracy                           0.95     22560
   macro avg       0.86      0.82      0.84     22560
weighted avg       0.95      0.95      0.95     22560

In [156]:
stu_test_data = pd.DataFrame(test_data.loc[test_data["Working Professional or Student"] == "Student"])
pro_test_data = pd.DataFrame(test_data.loc[test_data["Working Professional or Student"] == "Working Professional"])

In [157]:
stu_test_data.drop(columns=["id", "Name", "Working Professional or Student", "Profession", "Job Satisfaction", "Work Pressure", "Sleep Duration", "Degree", "Dietary Habits", "City"], inplace=True)
stu_fill_list = ['Academic Pressure', 'CGPA', 'Study Satisfaction']
for col in stu_fill_list:
    stu_test_data[col] = stu_test_data[col].fillna(stu_test_data[col].mean())

stu_test_data = pd.get_dummies(stu_test_data)

In [158]:
pro_test_data.drop(columns=["id", "Name", "Working Professional or Student", "Academic Pressure", "CGPA", "Study Satisfaction", "City", "Profession", "Sleep Duration", "Degree", "Dietary Habits"], inplace=True)
pro_fill_list = ['Work Pressure', 'Job Satisfaction']
for col in pro_fill_list:
    pro_test_data[col] = pro_test_data[col].fillna(pro_test_data[col].mean())
    
# pro_test_data['Profession'] = pro_train_data['Profession'].fillna('Unknown')
pro_test_data = pd.get_dummies(pro_test_data)

In [159]:
pro_test_data['Depression'] = pro_model.predict(pro_test_data)
stu_test_data['Depression'] = stu_model.predict(stu_test_data)

In [179]:
submission = pd.DataFrame(test_data['id'], columns=['id', 'Depression'])
submission['Depression'] = pd.concat([pro_test_data['Depression'], stu_test_data['Depression']]).sort_index()

In [ ]:
submission.head() # now we need to save as csv

       id  Depression
0  140700           0
1  140701           0
2  140702           0
3  140703           1
4  140704           0

In [186]:
submission.to_csv('submission.csv', index=False, lineterminator='\n') # save the submission